{% extends "base.html" %} 
{% block extrahead %}
<link rel="shortcut icon" href="/static/favicon.ico">
{% endblock %} {% block content %}
<table class="table-striped table-condensed table-bordered table-hover">
    <thead>
        <td>编号</td>
        <td>名称</td>
        <td>图片</td>
        <td>英文名称</td>
    </thead>
    <tbody>
        {% for c in contacts %}
        <tr>
            <td>{{ c.bh }}</td>
            <td>{{ c.name }}</td>
            <td><img src="/media/{{ c.image }}" alt="no image"></td>
            <td>{{ c.name_en }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<p>
    <div class="pagination">
        <span class="step-links">
        {% if page.hasprev %}
            <a href="?start={{page.prevStart }}&limit={{page.limit}}">前一页</a>
        {% endif %}

        <span class="current">
            {{ page.start+1 }}/{{ page.total }}
        </span> {% if page.hasnext %}
        <a href="?start={{ page.nextStart }}&limit={{page.limit}}">后一页</a> {% endif %}
        </span>
    </div>
</p>
{% endblock %} 